@import "../../lib/mixins";
@import "../../lib/var";

.orderbook-wrap {
  background: transparent;
  padding: 22px 0 20px;

  @include min-screen(md) {
    padding: 20px 0 50px;
  }
  @include min-screen(lg) {
    padding: 33px 0 70px;
  }

  &__head {
    .title-md {
      display: none;

      @include min-screen(md) {
        display: block;
      }
    }
  }

  &__toggle {
    margin-left: auto;
  }

  &__lists {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @include min-screen(md) {
      flex-direction: column;
      justify-content: unset;
    }
  }
}


.icon-btn {
  padding: 0;
  width: 20px;
  height: 20px;
  min-height: 20px;
  opacity: 0.3;

  @include min-screen(md) {
    width: 18px;
    height: 18px;
    min-height: 18px;
  }

  + .icon-btn {
    margin-left: 10px;
  }

  &.active {
    opacity: 1;
  }

  &:hover {
    opacity: 0.7;
  }
}

.orderbook {
  position: relative;

  &__scrollarea {
    height: 199px;
    width: 100%;

    @include min-screen(md) {
      height: 754px;
    }
  }

  &__amount {
    @include align-justify-center;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 12px;
    position: absolute;
    left: 0;
    width: 210px;
    top: 0;
    white-space: nowrap;
    transform: translate(25%, -65px);

    @include min-screen(md) {
      left: 0;
      margin-bottom: 0;
      justify-content: flex-start;
      top: 5px;
      width: auto;
      transform: translate(0, 15px);
    }
    @include min-screen(lg) {
      transform: translate(0, 0);
    }

    svg {
      margin-left: 8px;
    }

    span {
      font-size: 12px;
      line-height: 16px;
      margin-left: 20px;
    }
  }

  &--buy {
    position: relative;

    @include min-screen(md) {
      padding-top: 50px;
    }

    .list-table {
      &__progress {
        background:rgba(31, 166, 117, 0.25);
      }

      &__body {
        padding-bottom: 2px;
      }
    }
  }

  &--sell {
    .list-table {
      &__progress {
        background: rgba(241, 59, 92, 0.25);
      }

      &__body {
        padding-top: 2px;
        height: 100%;
        padding-right: 0;
      }

      &__row {

      }
    }
  }

  &--double {
    width: 50%;

    @include min-screen(md) {
      width: 100%;
    }

    + .orderbook {
      margin-right: 10px;

      @include min-screen(md) {
        margin-right: 0;
      }
    }

    &.orderbook--buy {
      padding-top: 0;

      @include min-screen(md) {
        padding-top: 67px;
      }
    }

    .orderbook {
      &__amount {

        @include min-screen(lg) {
          top: 25px;
        }
      }

      &__scrollarea {
        height: 199px;

        @include min-screen(md) {
          height: 378px;
        }
      }
    }

    .list-table {
      &__body {
        padding-right: 0;

        .list-table__col {
          &:nth-child(3) {
            display: none;

            @include min-screen(sm) {
              display: flex;
            }
          }
        }
      }

      &__head {
        padding-right: 0;

        .list-table__col {
          &:nth-child(2) {
            display: none;

            @include min-screen(sm) {
              display: block;
            }
          }
        }
      }



    }
  }

}

.list-table {
  &__body {
    padding-right: 24px;

    .list-table__row {
      width: 100%;
      height: 19px;
      margin-bottom: 1px;
      padding-right: 2px;

      @include min-screen(md) {
        margin-bottom: 2px;
      }
    }
  }

  &__head {
    padding-right: 24px;


  }

}

.trade-fullscreen {
  .orderbook {
    &__scrollarea {
      height: 320px;
    }

    &--double {
      .orderbook {
        &__scrollarea {
          height: 145px;
        }
      }

      &.orderbook--buy {
        padding-top: 60px;

        .list-table__head {
          display: none;
        }
      }

      .list-table {
        &__head {
          .list-table__col {
            &:nth-child(2) {
              width: 50px;
            }
          }
        }
      }
    }

    &--buy {
      padding-top: 35px;
    }
  }

  .orderbook-wrap {
    padding: 25px 0 34px;

    &__head {
      margin-bottom: 11px;
    }
  }
}
